*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image:url(./images/pattern-background-desktop.svg) ;
    background-repeat: no-repeat;
    background-color:  hsl(225, 100%, 98%);
    font-family: 'Red Hat Display', sans-serif;
    background-size: contain;
}
main{
    background-color: white;
    border-radius: 20px;
    
}
.container{
    border: 1px solid transparent;
    display: grid;
    justify-content: center;
    height: 80vh;
    margin: 100px 494px 20px 494px;
    border-radius: 20px;
    font-family: "Red Hat Display";
    
}
.top-img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width:100%;
}
.summary-section h3{
    text-align: center;
    padding: 20px 0px;
    font-size: 30px; 
    color: hsl(223, 47%, 23%);
}
.summary-section p{
    text-align: center;
    padding: 10px 0px;
    color:hsl(224, 23%, 55%);
}
.subscription-area{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: 20px 60px 0px 60px;
    border:1px solid transparent;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    padding: 20px;
    
}
.subscription-text{
    color: hsl(223, 47%, 23%);
}
.subscription-amount{
    color:hsl(224, 23%, 55%);
}
.sub-price-section{
    display: flex;
    align-items: center;
    padding-right: 30px;

}
.sub-price-section img{
    padding-right: 20px;
}
.payment-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}
.payment-section button{
    width:320px;
    padding: 20px;
    color: white;
    background-color: hsl(245, 75%, 52%);
    border: none;
    font-size: 16px;
    border-radius: 10px;
}
.payment-section a{
    margin-top: 40px;
    text-decoration: none;
    font-size: 20px;
}
.payment-section a:hover{
    color:hsl(244, 35%, 55%) ;
}
.change a:hover{
    color: hsl(223, 47%, 23%);
}
.payment-section button:hover{
    background-color:hsl(244, 35%, 55%) ;
}
.attribution { 
    font-size: 15px;
     text-align: center;
     margin-top: 20px;
 }
.attribution a {
     color: hsl(228, 45%, 44%);
 }


@media screen and (max-width:1000px){
    body{
        background-image:url(./images/pattern-background-mobile.svg) ;
        background-repeat: no-repeat;
        background-color:  hsl(225, 100%, 98%);
        background-size: contain;
        font-family: 'Red Hat Display', sans-serif;
    }
    .container{
        border: 1px solid transparent;
        display: grid;
        justify-content: center;
        height: 80vh;
        margin: 70px 120px 10px 120px;
        border-radius: 20px;
        font-family: "Red Hat Display";
        
    }
    .subscription-area{
        display: flex;
        align-items: center;
        justify-content:space-around;
        margin: 20px 40px 0px 40px;
        border:1px solid transparent;
        background-color: hsl(225, 100%, 98%);
        border-radius: 10px;
        padding: 20px;
        
    }
    .sub-price-section{
        display: flex;
        align-items: center;
        padding-right: 20px;
    
    }
    .payment-section button{
        width:200px;
        padding: 10px;
        color: white;
        background-color: hsl(245, 75%, 52%);
        border: none;
        font-size: 16px;
        border-radius: 10px;
    }
    .sub-price-section{
        display: flex;
        align-items: center;
        padding-right: 20px;
    
    }
    .sub-price-section img{
        padding-right: 20px;
    }
    .payment-section a:hover{
        color:hsl(244, 35%, 55%) ;
    }
    .change a:hover{
        color: hsl(223, 47%, 23%);
    }
    .payment-section button:hover{
        background-color:hsl(244, 35%, 55%) ;
    }
    .attribution { 
        font-size: 15px;
         text-align: center;
         margin-top: 20px;
     }
    .attribution a {
         color: hsl(228, 45%, 44%);
     }
    
}